<!-- List of events
  click Event
  keyup event
  keyup with enter and space
  keydown
  blur
  mouseover and mouseleave
  get values on textbox
-->

<button (click)="getName(yourName)">Dynamic value</button><!-- yourName is a property coming from ts file -->
<br>
<button (click)="getName('Deepansh')">Static Value</button><!-- Deepansh is a string here -->

<br>
static event fire on key up
<input type="text" (keyup)="myEvent('key Up event')">
<br>
fetch dynamic value event fire on key up
<input type="text" #mytext1 (keyup)="myEvent(mytext1.value)"> <!-- we can define the key directly -->
<br>
fetch dynamic value event fire on enter
<input type="text" #mytext2 (keyup.enter)="myEvent(mytext2.value)"> 
<br>
blur event
<input type="text" #mytext3 (blur)="myEvent(mytext3.value)" (mouseover)="myEvent('Mouse In')" (mouseleave)="myEvent('Mouse out')"> 

<br>
myEvent($any($event).target.value)
<input type="text" (keyup.enter)="myEvent($any($event).target.value)">

<br>
get value on button click
<input type="text" #mytext4 >
<button (click)="myEvent(mytext4.value)">click me</button>
<h1>
  {{currentVal}}
</h1>