<!-- boolean if else condition -->
<h1 *ngIf="show else elseBlock1">
    if condition is true
</h1>
<ng-template #elseBlock1>
    <h1>
        If condition is false
    </h1>
</ng-template>

<!-- string if else condition -->
<h1 *ngIf="showString == 'yes' else elseBlock2">
    if condition is true
</h1>

<ng-template #elseBlock2>
    <h1>
        If condition is false
    </h1>
</ng-template>

<!-- if else condition with seperate block -->
<h1 *ngIf="showString == 'yes'; then  ifBlock3 else elseBlock3">
</h1>

<ng-template #ifBlock3>
    <h1>
        if condition is true
    </h1>
</ng-template>
<ng-template #elseBlock3>
    <h1>
        If condition is false
    </h1>
</ng-template>

<button (click)="changeCondition()">Change Condition</button>

<!-- if else if condition (using property binding) -->
<ng-template [ngIf]="showColor== 'red'">
    <h1>Red block</h1>
</ng-template>
<ng-template [ngIf]="showColor=='green'">
    <h1>green block</h1>
</ng-template>
<ng-template [ngIf]="showColor=='blue'">
    <h1>blue block</h1>
</ng-template>